<div class="middle-box text-center animated fadeInDown">
  <h2><img src="/assets/images/logo.png" class="img-lg" /></h2>
  <h2 class="font-bold">Contact Us</h2>

  <div class="error-desc">
    <section id="contact" class="gray-section contact">
      <div class="container">
        <div class="row m-b-lg justify-content-center">
          <div class="col-lg-3 ">
            <address>
              Lumpini Place Rama 8 Tower C 5/268<br />
              Arun Amarin 53 Alley, Bang Yi Khan, Bang Phlat Bangkok 10700, THAILAND<br />
              <abbr title="Phone">LINE ID:</abbr> @LIGO&nbsp;&nbsp;
              <abbr title="Email">Email:</abbr> info@ligobot.com<br /><br />
              Operating Hours:<br />
              Monday - Friday, 9AM – 5PM GMT+7<br />
            </address>
          </div>
          <div class="col-lg-4">
            <p class="text-color">
              If you need help on how to use, wanting to give comments or suggestions. Please drop us a message on the 1 to 1 chat. You can expect a reply within 24 hours.
            </p>
          </div>
        </div>
        
        
      </div>
    </section>
  </div>
</div>
