<div class="middle-box text-center animated fadeInDown">
  <h2><img src="/assets/images/success.png" class="rounded-circle img-lg" /></h2>
  <h3 class="font-bold">{{'payment-success.header' | translate}}</h3>

  <div class="error-desc">
    {{'payment-success.thankyou' | translate}}
    <br />
    <br />
    <p>{{'payment-success.anyQuestion' | translate}}</p>
    {{'payment-success.backToMyAccount' | translate}}: <br /><a href="index.html" class="btn btn-primary m-t">MY ACCOUNT</a>
  </div>
</div>
