<div class="middle-box text-center animated fadeInDown">
  <h2><img src="/assets/images/success.png" class="rounded-circle img-lg" /></h2>
  <h3 class="font-bold">Payment was successful.</h3>

  <div class="error-desc">
    Thank you very much. <br /><br />
    <p>
      If you have any question, please send your question via Ligo chat room (LINE ID: @Ligo) or email us at admin@ligobot.com
    </p>
    You can go back to main page: <br /><a href="index.html" class="btn btn-primary m-t">BACK MY ACCOUNT</a>
  </div>
</div>
