<div class="wrapper wrapper-content">

    <div class="row">
      <div class="col text-center">
        <h2>{{'subscription.header' | translate}}</h2>
        <h3>{{'subscription.selectPlan' | translate}}</h3>
      </div>
    </div>

    <br />
    <br />

    <div class="row">

      <div class="col">
        <div class="ibox">
          <div class="ibox-title" style="background-color:#53A4E7">
            <h5 style="color:#ffffff">{{'plan.MONTHLY_PLAN_v0.name' | translate}}<i class="fa fa-tree ml-1"></i></h5>
            <div class="ibox-tools">
            </div>
          </div>
          <div class="ibox-content text-center">
            <h1>{{'plan.MONTHLY_PLAN_v0.price' | translate}}<small>/{{'plan.MONTHLY_PLAN_v0.period' | translate}}</small></h1>
            <h4>({{'plan.MONTHLY_PLAN_v0.approx' | translate}})</h4>
            <br />
            <p>
              - {{'subscription.unlimited' | translate}}
              <br />
              - {{'subscription.support100Language' | translate}}
            </p>

            <p>(<i>{{'plan.MONTHLY_PLAN_v0.billingPeriod' | translate}}</i>)</p>
            
            <button [disabled]="isProcessing" class="col-sm-12 btn btn-lg btn-primary" type="button"
                    (click)="process('MONTHLY_PLAN_v0', 'isProcessing_SUBSCRIBE_AND_RENEW_MONTHLY_PLAN_v0', 'isShowError_MONTHLY_PLAN_v0')">
              <div *ngIf="!card">
                <span *ngIf="isProcessing_SUBSCRIBE_AND_RENEW_MONTHLY_PLAN_v0" class="loading circle mr-1"></span>{{'subscription.subscribe' | translate}}
              </div>
              <div *ngIf="card">
                <span *ngIf="isProcessing_SUBSCRIBE_AND_RENEW_MONTHLY_PLAN_v0" class="loading circle mr-1"></span>{{'subscription.renew' | translate}}
                <span class="badge badge-info">{{'subscription.makePaymentUsing' | translate}}: {{ card.brand }} ({{ card.lastDigits }})</span>
              </div>
            </button>

            <button [disabled]="isProcessing" *ngIf="card" class="col-sm-12 btn btn-lg btn-primary mt-2" type="button"
                    (click)="useAnotherCard('MONTHLY_PLAN_v0', 'isProcessing_ANOTHER_CARD_MONTHLY_PLAN_v0', 'isShowError_MONTHLY_PLAN_v0')">
              <span *ngIf="isProcessing_ANOTHER_CARD_MONTHLY_PLAN_v0" class="loading circle mr-1"></span>{{'subscription.useAnotherCard' | translate}}
            </button>

            <div *ngIf="isShowError_MONTHLY_PLAN_v0" class="animated fadeInRight">
              <span class="badge badge-danger text-wrap mt-2">
                <i class="fa fa-warning mr-1"></i>
                {{'subscription.errorValidation' | translate}} '{{ this.failedMessage }}'
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="ibox">
          <div class="ibox-title" style="background-color:#FFB571">
            <h5 style="color:#ffffff">{{'plan.3_MONTH_PLAN_v0.name' | translate}} <i class="fa fa-soundcloud ml-1"></i></h5>
            <div class="ibox-tools">
            </div>
          </div>
          <div class="ibox-content text-center">
            <h1>{{'plan.3_MONTH_PLAN_v0.price' | translate}}<small>/ {{'plan.3_MONTH_PLAN_v0.period' | translate}}</small></h1>
            <h4>({{'plan.3_MONTH_PLAN_v0.approx' | translate}})</h4>
            <br />
            <p>
              - {{'subscription.unlimited' | translate}}
              <br />
              - {{'subscription.support100Language' | translate}}
            </p>

            <p>(<i>{{'plan.3_MONTH_PLAN_v0.billingPeriod' | translate}}</i>)</p>
            
            <button [disabled]="isProcessing" class="col-sm-12 btn btn-lg btn-primary" type="button"
                    (click)="process('3_MONTH_PLAN_v0', 'isProcessing_SUBSCRIBE_AND_RENEW_3_MONTH_PLAN_v0', 'isShowError_3_MONTH_PLAN_v0')">
              <div *ngIf="!card">
                <span *ngIf="isProcessing_SUBSCRIBE_AND_RENEW_3_MONTH_PLAN_v0" class="loading circle mr-1"></span>{{'subscription.subscribe' | translate}}
              </div>
              <div *ngIf="card">
                <span *ngIf="isProcessing_SUBSCRIBE_AND_RENEW_3_MONTH_PLAN_v0" class="loading circle mr-1"></span>{{'subscription.renew' | translate}}
                <span class="badge badge-info">{{'subscription.makePaymentUsing' | translate}}: {{ card.brand }} ({{ card.lastDigits }})</span>
              </div>
            </button>

            <button [disabled]="isProcessing" *ngIf="card" class="col-sm-12 btn btn-lg btn-primary mt-2" type="button"
                    (click)="useAnotherCard('3_MONTH_PLAN_v0', 'isProcessing_ANOTHER_CARD_3_MONTH_PLAN_v0', 'isShowError_3_MONTH_PLAN_v0')">
              <span *ngIf="isProcessing_ANOTHER_CARD_3_MONTH_PLAN_v0" class="loading circle mr-1"></span>{{'subscription.useAnotherCard' | translate}}
            </button>

            <div *ngIf="isShowError_3_MONTH_PLAN_v0" class="animated fadeInRight">
              <span class="badge badge-danger text-wrap mt-2">
                <i class="fa fa-warning mr-1"></i>
                {{'subscription.errorValidation' | translate}} '{{ this.failedMessage }}'
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        <button [disabled]="isProcessing" class="btn btn-lg btn-primary m-b" style="width:100%" type="button" (click)="goToMyAccount()">{{'subscription.back' | translate}}</button>        
      </div>
    </div>

</div>
