<div class="text-center animated fadeInDown">
  <form [formGroup]="form"
        (ngSubmit)="onSubmit()">

    <div class="row h-43 bg-primary mt-1">

    </div>

    <div class="row h-43 bg-white border-top border-bottom">
      <div class="col-5 mt-2">
        <span class="align-middle" style="font-size:16px;">{{ fromLanguageCode.value | translate}}</span>
      </div>
      <div class="col-1 mt-2" (click)="reverse()">
        <i class="fa fa-retweet"></i>
      </div>
      <div class="col-5  mt-2">
        <span class="align-middle" style="font-size:16px;">{{ toLanguageCode.value | translate}}</span>
      </div>
    </div>

    <div class="row h-95 bg-white border-bottom shadow-sm">
      <div class="col-11">
        <span class="float-left ml-2" style="font-size: 10px;">{{ fromLanguageCode.value | translate | uppercase}}</span>
      </div>
      <div class="col-9">
        <div class="chat-message-form">
          <div class="form-group">
            <div id="textToTranslate"
                 class="editable h-80 text-left shadow-none ml-2"
                 style="font-size:16px;"
                 #textToTranslate contenteditable="true"
                 (keydown)="onKeydown($event)">

              <div #correctionContainer></div>

            </div>

          </div>
        </div>
      </div>
      <div class="col-1">
        <button class="btn btn-lg btn-block btn-circle m-t-n" type="button" (click)="clear()"> <i class="fa fa-times"></i> </button>
      </div>
      <div class="col-2">
      </div>
      <div class="col-11">
        <button id="btnCheck"
                class="btn btn-lg btn-bitbucket float-left ml-2"
                style="border:none;" type="button"
                (click)="check()">
          <span *ngIf="isChecking" class="loading circle mr-1"></span><i class="fa fa-check"></i><br /><span style="font-size: 12px;">{{ "live-translation.check" | translate}}</span>
        </button>
        <button id="btnSend"
                class="btn btn-lg btn-bitbucket float-left ml-2"
                style="border:none;" type="submit">
          <i class="fa fa-send-o"></i><br /><span style="font-size: 12px;">{{ "live-translation.send" | translate}}</span>
        </button>
        <ng-template #noSuggestion>
          <button class="btn btn-warning btn-circle" type="button"><i class="fa fa-check"></i></button> {{ "live-translation.noSuggestion" | translate}}
        </ng-template>
        <button class="btn btn-lg btn-bitbucket float-right ml-2"
                style="border:none;" type="button"
                (click)="getSuggestion(noSuggestion)">
          <span *ngIf="isGettingSuggestion" class="loading circle mr-1"></span><i class="fa fa-ils"></i><br /><span style="font-size: 12px;">{{ "live-translation.suggestion" | translate}}</span>
        </button>
      </div>
    </div>

    <div *ngIf="isShowTranslation" class="row h-60 border-bottom bg-primary mt-2 ml-2 mr-2">
      <div class="col-11 mt-1 m-l-n">
        <div class="chat-message-form">
          <div class="form-group text-left">
            <span _ngcontent-ilc-c118="" class="float-left ml-2 mt-1" style="font-size: 10px;">{{ toLanguageCode.value | translate | uppercase}}</span><br />
            <span class="float-left ml-2" style="font-size:16px;">{{ translatedText.value }}</span>
          </div>
        </div>
      </div>
      <div class="col-10">
        <span *ngIf="isTranslating" class="float-right loading circle ml-2 fadeInRight"></span>
      </div>
    </div>
  </form>
</div>
