<div class="wrapper wrapper-content">
  <section id="features" class="container services">
    <div class="row">
      <div class="col-sm-12">
        <h2>Terms and Conditions</h2>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>GENERAL</h3>
        <p>
          www.ligobot.com (hereinafter called Ligo Corp.) provides LINE translation services under the name of Ligo Corp. These terms will be revised from time to time.
          Customer's use of Ligo Corp.'s services after changes to these terms will be posted on Ligo Corp web sites and will constitute the customer's acceptance of any new or additional terms.
        </p>
        <p>
          It must be kept in mind that Ligo Corp. does not review, edit, censor, or take responsibility for any information its clients may create.
          When clients place information on the Internet, they have the same liability as other authors for copyright infringement, defamation, and other harmful speech.
        </p>
        <p>
          These terms will be revised from time to time. Customer's use of Ligo Corp.'s services after changes to these terms will be posted on Ligo Corp. web sites and will
          constitute the customer's acceptance of any new or additional terms.
        </p>
        <p>
          Ligo Corp. reserves the right to terminate the service agreement to any user if such user was found conducting questionable activities at our discretion.
          Ligo Corp. does not host and storage any copyrighted contents.
        </p>
        <p>
          You are not allowed to copy, modify, create a derivative work of, decompile or otherwise attempt to extract the source code of the Ligo Corp. software or any part of it.
        </p>
        <br />

        <h3>SERVICE QUALITY</h3>
        <ul>
          <li>
            Your service speed may vary depending on Internet connection speed and we don't guarantee a certain level of speed.
          </li>
          <li>
            We may block certain kinds of usage to protect other users, to comply with legal restrictions or to minimize the threat
            or legal action against us or our users.
          </li>
          <li>
            All services are provided to you "as is" without any additional guarantees or obligations on our part.
          </li>
          <li>
            We will try our best to maintain service quality and to limit interruptions to your service, however we cannot guarantee uninterrupted service.
            The service may be unavailable due to variety of factors beyond our control including emergencies, third party failures, interference, and may be interrupted,
            blocked or limited by other network providers.
          </li>
          <li>
            We are not in any shape or form liable for any damages resulting from interruptions in Service or your inability to use the Service.
          </li>
          <li>
            Ligo Corp. does not offer refunds for any service interruptions or issues.
          </li>
        </ul>
        <br />

        <h3>PRIVACY POLICY</h3>
        <p>
          Ligo Corp. collects customer information such as name and email in order to make contact with the individual. We do not store credit card details on our system.
          The customer information is kept until the customer makes a request to us to remove them. The customer can contact us regarding updating, removing the information via
          email specified on the <a href="/contact-us">contact page</a>.          
        </p>
        <p>
          Ligo Corp. will not sell or rent your personally identifiable information to anyone unless you expressly consent to disclosures of
          your personal identification and other personal information to third parties.  We may send personally identifiable information about you to third parties when:
        </p>
        <ul>
          <li>
            We have your consent to share the information or
          </li>
          <li>
            We respond to subpoenas, court orders or legal processes which require us to disclose Registration Data or any information about
            you to law enforcement or other government officials as Ligo Corp., in its sole discretion, believes necessary or appropriate.
            Ligo Corp. reserves the right to revise our policies at any time.
          </li>
        </ul>
        <br />

        <h3>REFUND POLICY</h3>
        <p>
          Ligo Corp. offers new customers with 7 days trial period without charging any kind of payment or collecting credit card information.
          We encourage our customers to try our service during trial period to ensure it fits the customer's needs.
          Refund will not be provided for any subscription. We do not provide credit, refund, or prorated billing for subscriptions that are cancelled mid-month.
          In such a circumstance, the customer will continue to have access to subscription until the end of the monthly billing cycle.
        </p>
      </div>
    </div>
  </div>
</div>
