<button type="button" class="btn btn-sm" [ngClass]="{'btn-link': !isEnabled, 'btn-primary':isEnabled}">
  <span class="badge badge-success">
    <i class="fa fa-hand-o-up mr-1"></i>
    {{'language.tapHere' | translate}}
  </span>
  <br />
  {{ fromToLanguage | translate}}:<br />
  <span *ngIf="user.language === 'en'" class="font-weight-bold ml-1">{{ language.displayNameEN }}</span>
  <span *ngIf="user.language === 'th'" class="font-weight-bold ml-1">{{ language.displayNameTH }}</span>
  <span *ngIf="user.language === 'ja'" class="font-weight-bold ml-1">{{ language.displayNameJA }}</span>
  <span *ngIf="user.language === 'zh'" class="font-weight-bold ml-1">{{ language.displayNameZH }}</span>
  <span *ngIf="user.language === 'it'" class="font-weight-bold ml-1">{{ language.displayNameIT }}</span>
  <span *ngIf="user.language === 'es'" class="font-weight-bold ml-1">{{ language.displayNameES }}</span>
  <span *ngIf="user.language === 'ko'" class="font-weight-bold ml-1">{{ language.displayNameKO }}</span>
  <span *ngIf="user.language === 'id'" class="font-weight-bold ml-1">{{ language.displayNameID }}</span>
  <span *ngIf="user.language === 'vi'" class="font-weight-bold ml-1">{{ language.displayNameVI }}</span>
  <span *ngIf="user.language === 'de'" class="font-weight-bold ml-1">{{ language.displayNameDE }}</span>
  <span *ngIf="user.language === 'pt'" class="font-weight-bold ml-1">{{ language.displayNamePT }}</span>
</button>
