<div class="modal-header">
  <h5 class="modal-title">{{'languageModel.header' | translate}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form"
        (ngSubmit)="onSubmit(form.value.language)">

    <div class="form-group form-inline">
      {{'languageModel.search' | translate}}: <input class="ml-2" style="width:82%" type="text" [formControl]="filter" />
    </div>

    <div class="table-responsive" style="height: 300px; overflow-y: auto;">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{'languageModel.language' | translate}}</th>
            <th scope="col">{{'languageModel.native' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lang of supportedLanguages | async; index as i"
              (click)="RowSelected(lang);"
              [ngClass]="{'highted-row': (lang === language.value)}" style="height: 40px;">
            <th scope="row">
              <i class="fa mt-2" [ngClass]="{'fa-check-circle': (lang === language.value)}"></i>
            </th>
            <td class="align-middle">
              <ngb-highlight *ngIf="user.language === 'en'" [result]="lang.displayNameEN" [term]="filter.value"></ngb-highlight>
              <ngb-highlight *ngIf="user.language === 'th'" [result]="lang.displayNameTH" [term]="filter.value"></ngb-highlight>
              <ngb-highlight *ngIf="user.language === 'ja'" [result]="lang.displayNameJA" [term]="filter.value"></ngb-highlight>
              <ngb-highlight *ngIf="user.language === 'zh'" [result]="lang.displayNameZH" [term]="filter.value"></ngb-highlight>
              <ngb-highlight *ngIf="user.language === 'it'" [result]="lang.displayNameIT" [term]="filter.value"></ngb-highlight>
              <ngb-highlight *ngIf="user.language === 'es'" [result]="lang.displayNameES" [term]="filter.value"></ngb-highlight>
              <ngb-highlight *ngIf="user.language === 'ko'" [result]="lang.displayNameKO" [term]="filter.value"></ngb-highlight>
              <ngb-highlight *ngIf="user.language === 'id'" [result]="lang.displayNameID" [term]="filter.value"></ngb-highlight>
              <ngb-highlight *ngIf="user.language === 'vi'" [result]="lang.displayNameVI" [term]="filter.value"></ngb-highlight>
              <ngb-highlight *ngIf="user.language === 'de'" [result]="lang.displayNameDE" [term]="filter.value"></ngb-highlight>
              <ngb-highlight *ngIf="user.language === 'pt'" [result]="lang.displayNamePT" [term]="filter.value"></ngb-highlight>
              <ngb-highlight *ngIf="user.language === 'fr'" [result]="lang.displayNameFR" [term]="filter.value"></ngb-highlight>
              <ngb-highlight *ngIf="user.language === 'tr'" [result]="lang.displayNameTR" [term]="filter.value"></ngb-highlight>
            </td>
            <td class="align-middle">
              <ngb-highlight [result]="lang.nativeName" [term]="filter.value"></ngb-highlight>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p *ngIf="!isValid" class="mt-3">
      <span class="text-danger">{{'languageModel.selectALanguage' | translate}}</span>      
    </p>

    <div class="form-group row mt-3">
      <div class="col">
        <button class="btn btn-lg btn-white float-right" (click)="activeModal.dismiss()">{{'languageModel.cancel' | translate}}</button>
        <button class="btn btn-lg btn-primary float-right mr-2" type="submit"><i class="fa fa-check mr-1"></i>{{'languageModel.select' | translate}}</button>
      </div>
    </div>

  </form>
</div>
