<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <!--[ngClass]="{'d-none': isRedirect}"-->
      <div class="ibox">
        <div class="ibox-title">
          The conversation facilitator
        </div>
        <div class="ibox-content">
          <div class="text-center m-t-lg m-b-lg">
            <h1>
              Ligo
            </h1>
            <small>
              Enjoy conversations with foreigners by having your words translated in real-time.
            </small>
            <!--<button (click)="closewindow()">close</button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
