<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <!--<a class="navbar-minimalize minimalize-styl-2 btn btn-primary" (click)="toggleNavigation($event)" href="#" ><i class="fa fa-bars"></i> </a>-->
      <form role="search" class="navbar-form-custom" method="post" action="#">
        <!--<div class="form-group">
          <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
        </div>-->        
      </form>
    </div>

    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown" style="width: 100px;">
        <a class="dropdown-toggle count-info m-r" data-toggle="dropdown" href="#">
          <i class="fa fa-globe"></i>  {{'System.language' | translate}}
        </a>
        <ul class="dropdown-menu dropdown-messages" style="width: 280px">
          <li>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-outline btn-default mr-2 mb-3" style="width:80px;"
                        [ngClass]="{'btn-primary font-weight-bold': user.language === 'en'}"
                        (click)="changeLanguage('en')">
                  English
                </button>
                <button type="button" class="btn btn-outline btn-default mr-2 mb-3" style="width:80px;"
                        [ngClass]="{'btn-primary font-weight-bold': user.language === 'ja'}"
                        (click)="changeLanguage('ja')">
                  日本語
                </button>
                <button type="button" class="btn btn-outline btn-default mb-3" style="width:80px;"
                        [ngClass]="{'btn-primary font-weight-bold': user.language === 'th'}"
                        (click)="changeLanguage('th')">
                  ไทย
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-outline btn-default mr-2 mb-3" style="width:80px;"
                        [ngClass]="{'btn-primary font-weight-bold': user.language === 'zh'}"
                        (click)="changeLanguage('zh')">
                  繁体中文
                </button>
                <button type="button" class="btn btn-outline btn-default mr-2 mb-3" style="width:80px;"
                        [ngClass]="{'btn-primary font-weight-bold': user.language === 'it'}"
                        (click)="changeLanguage('it')">
                  Italiano
                </button>
                <button type="button" class="btn btn-outline btn-default mb-3" style="width:80px;"
                        [ngClass]="{'btn-primary font-weight-bold': user.language === 'es'}"
                        (click)="changeLanguage('es')">
                  Español
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-outline btn-default mr-2 mb-3" style="width:80px;"
                        [ngClass]="{'btn-primary font-weight-bold': user.language === 'ko'}"
                        (click)="changeLanguage('ko')">
                  한국어
                </button>
                <button type="button" class="btn btn-outline btn-default mr-2 mb-3" style="width:80px;"
                        [ngClass]="{'btn-primary font-weight-bold': user.language === 'id'}"
                        (click)="changeLanguage('id')">
                  Indonesia
                </button>
                <button type="button" class="btn btn-outline btn-default mb-3" style="width:80px;"
                        [ngClass]="{'btn-primary font-weight-bold': user.language === 'vi'}"
                        (click)="changeLanguage('vi')">
                  Tiếng Việt
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-outline btn-default mr-2 mb-3" style="width:80px;"
                        [ngClass]="{'btn-primary font-weight-bold': user.language === 'de'}"
                        (click)="changeLanguage('de')">
                  Deutsch
                </button>
                <button type="button" class="btn btn-outline btn-default mr-2 mb-3" style="width:80px;"
                        [ngClass]="{'btn-primary font-weight-bold': user.language === 'pt'}"
                        (click)="changeLanguage('pt')">
                  Português
                </button>
                <button type="button" class="btn btn-outline btn-default mb-3" style="width:80px;"
                        [ngClass]="{'btn-primary font-weight-bold': user.language === 'fr'}"
                        (click)="changeLanguage('fr')">
                  Français
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-outline btn-default mr-2 mb-3" style="width:80px;"
                        [ngClass]="{'btn-primary font-weight-bold': user.language === 'tr'}"
                        (click)="changeLanguage('tr')">
                  Türkçe
                </button>
                <button type="button" class="btn btn-outline btn-default mr-2 mb-3" style="width:80px;"
                        [ngClass]="{'btn-primary font-weight-bold': user.language === 'ru'}"
                        (click)="changeLanguage('ru')">
                  Русский
                </button>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>

  </nav>
</div>
